################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TodoAPI/.vs/TodoAPI
/TodoAPI/TodoAPI/obj
